{% extends "base.html" %}

{% block body %}
<div class="container">
    <h2>Edit product</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" required class="form-control" name="name" value="{{product.name}}" id="exampleInputEmail1">
            </div>
            <div class="col-md-3">
                <label for="exampleInputPassword1" class="form-label">Price</label>
                <input type="numder" required class="form-control" name="price" value="{{product.price}}" id="exampleInputPassword1">
            </div>
            <div class="col-md-3">
                <label for="exampleInputPassword1" class="form-label">Quantity</label>
                <input type="numder" required class="form-control" name="quantity" value="{{product.quantity}}" id="exampleInputPassword1">
            </div>
            <div class="col-md-3">
                <label for="group" class="form-label">Group</label>
                <select id="group" required class="form-select md-3" name="group" aria-label="Default select example">
                    {% for i in gr_product %}
                        <option {% if product.group.id == i.id %}selected{% endif %} value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-1">Submit</button>
    </form>
</div>
{% endblock %}